.deposit {
  display: flex;
  flex-direction: column;

  .deposit-input {
    width: 200px;
    height: 8px;
    margin: 5px 0;
    padding: 10px;
  }

  .deposit-btn {
    margin: 10px auto;
    width: 100px;
    height: 20px;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    background: rgb(235, 212, 126);
    background: linear-gradient(
      0deg,
      rgba(235, 212, 126, 1) 0%,
      rgba(255, 138, 166, 1) 100%
    );
  }

  .deposit-btn:hover {
    cursor: pointer;
  }
}
